
//МОДАЛЬНОЕ ОКНО ДЛЯ КОРЗИНЫ
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
        &__content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border:1px solid #888;
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
        }
    
        &__close {
            color:#aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            cursor: pointer;
        }
        &__inner {
            display: flex;
            flex-wrap: wrap;
            overflow-y: scroll;
        }
        &__check-block{
            display: flex;
            justify-content: space-between;
        }
        &__btn-delete{
            width: 100px;
            height: 36px;
            border:none;
            border-radius: 10px;
            background-color: #fefefe;
            border:2px solid black;
            color:#000;
            margin-left: 40px;
            margin-right: 40px;
            &:hover{
                background-color: gray;
                border:0;
            }
        }
    
    }
    

//MODAL IN BASKET
.basketInner {

    &__wrapper {
        width: 250px;
        padding: 10px;
        margin-right: 15px;
        margin-bottom: 15px;
        border:1px solid gray;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 130px;
        height: 150px;
        
    }

    &__box {
        text-align: center; 
    }
    &__title{

    }
    &__block {
     
    }

    &__textTrue {
        
    }

    &__textFalse {
    }
}









    //МОДАЛЬНОЕ ОКНО ДЛЯ КАРТИНКИ
    .modalPicture {
        display: none;
        position: fixed;
        z-index: 3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
            &__content {
                background-color: #fefefe;
                margin: auto;
                margin-top: 20px;
                padding: 20px;
                border:1px solid #888;
                width: 500px;
                height: 500px;
                display: flex;
                flex-direction: column;
            }
            &__close {
                color:#aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
            &__inner > img{
                width: 400px;
                height: 400px;
                display: block;
                margin: 0 auto;
            }
        
        }
    
    